#container{
    width: 480px;
    margin:0 auto;
}

#container img{
    padding: 4px;
    border: 1px solid #ddd;
    margin: 4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    width: 80px;
    height: 80px;
}